body {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1;
  color: #333;
}
.discount-tag{
   width: 15%;
   margin-top: 10%;
   margin-left: -18%;
   margin-bottom: 0px;
   z-index: 5;
   top: 0px;
   position: absolute;
 }

a {
  color: #131313;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  }

a:hover {
  color: #131313;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s; }

.basket-link,
.brand,
.details-expand,
.product.cta a {
  text-decoration: none; }

.bodysec {
   background-color: #f2f2f2;
 }

.bodysec2 {
  background-color: #ffffff;
}

.bodymain{
  background: url(../img/bg.jpg) repeat white;
  color: #25394d;
  background-size: cover;
}

.navbar {
  background-color: white;
  height: 60px;
  padding-top: 5px;
  }
  .navbar .brand {
    background-color: #bfbfbf; }
  .navbar .nav > li > a {
    color: #8a8077;
  }
.navbar .main-header .nav > li > a {
  background-color: white;
  color: black;
}
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
      background-color: #e7e7e7;
      color:#8a8077; }
  .navbar .nav > li.activehover > a {
    background-color: #e7e7e7;
    color: #fff; }
  .navbar .nav > .active a {
    background-color:#d9d9d9;
    color: #8a8077;
  }
    .navbar .nav > .active a:hover, .navbar .nav > .active a:focus {
      color: #8a8077; }

.submenu-container {
  background-color: #e7e7e7;
   }
  .submenu-container .submenu {
    background-color: #d8d8d8; }
    .submenu-container .submenu a .price {
      color: #25394d; }
    .submenu-container .submenu li.active, .submenu-container .submenu li:hover {
      background-color: #e7e7e7; }
  .submenu-container .submenu-preview a.drop-link {
    background: #323232;
    color: white; }

.basket {
  background-color: #f2f2f2; }
  .basket .basket-count {
    color: #131313; }

.product .description a {
  color: #131313; }
.product .details-expand {
  color: #fff;
  background-color: #131313; }
  .product .details-expand:hover {
    background-color: #909090; }
  .product .details-expand.expanded {
    background-color: #909090; }
.product.cta {
  color: #131313;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .product.cta.alt {
    background-color: white;
    color: #fff; }
    .product.cta.alt a, .product.cta.alt a:hover {
      color: #fff;
      display: block; }
    .product.cta.alt:hover {
      background-color: #909090;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      transition: background-color 0.5s; }
.product .plabel {
  background-color: white;
  border-top: solid 1px #131313;
  border-bottom: solid 1px #131313;
  color: #131313; }

.btn {
  background-color: #131313; }
  .btn:hover, .btn:focus {
    background-color: #909090; }

.pricing .special {
  background-color: white;
  color: #fff; }

.top-contrib {
  background-color: #131313;
  color: #fff; }

.quantity {
  color: #fff;
  background-color: #727272;}
  .quantity:hover {
    background-color: #131313;
    color: #fff; }

.navbar .navbar-toggle:hover {
  color: #fff;
  background-color: #e7e7e7; }
  .navbar .navbar-toggle:hover .icon-bar {
    color: #fff; }

.collection-page .board-filters a.filter-hidden,
.collection-page .board-links a.filter-hidden {
  background-color: white;
  color: #fff;
  border-color: #131313; }

.btn-atc {
  background-color: #ffc247;
  color: white;
  text-shadow: 1px 1px 1px #c28100;
  box-shadow: 1px 1px 1px #c28100; }
  .btn-atc:hover {
    background-color: #ffaa00; }
  .btn-atc.qadd {
    box-shadow: none; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0;
}


.activity-img{

 width: 100%;
}

.top-title{
  text-transform: uppercase;
  color: #4c4950;
}
.big-title{
  text-transform: uppercase;
  color: #4c4950;
}
.checked {
  color: #ffc000;
}

small{
  color: #4c4950;
}

.dash-title{
  color: #ffc000;
  font-weight: 100;
}
.acc-status{
  border-left: 2px solid #f2f2f2;
  height: 700px;
}

.selected-item {

  margin-bottom: 15px;
  background-color: #f2f2f2;
  padding: 10px;

}

.media h1{
  color: black;
  font-weight: 900;
}

.media h2{
  color: black;
  font-weight: 900;
}







